@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    text-align: center;
}
header {
    display : flex; 
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    height: 80px;
}

#logo {
    width: 250px; 
    height: 80px; 
    object-fit: cover;
    border-style: solid;
}

.menu {
    padding-left: 1em ;
    border-style: solid;
    height: 80px;
    display: flex;
    align-items: center;
   
}
.menu li {
    display: inline-block;
    padding-left: 1em;
    border-style: solid;
}

.menu a {
    text-decoration: none;
}

#caroussel {
  
    object-fit: cover;
}

main {
    display : flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    border: solid orange; 
}

section {
    margin-left: 10%;
    margin-right: 10%;
    display : flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row ;
    border: solid blue; 
}

#container {
    display: flex;
    align-items: stretch; 
    border: solid red; 
    justify-content: space-evenly; 
}

.card {
    border: solid yellow; 
    
    
}
