@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    text-align: center;
    color: grey
    
}

h3 {
    color: black; 
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

p {
    font-size: larger; 
}


header {
    display : flex; 
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    height: 85px;
}

#caroussel {
    width: 100%;
    height: 400px; 
    background-image:url(Images/backgroung_image.jpg) ;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}


header #logo {
    width: 350px; 
    height: 85px; 
    object-fit: cover;
    border-style: solid;
}

#caroussel #logo {
    width: 190px; 
    height: 60px; 
    object-fit: cover;
}

.menu {
    padding-left: 1em ;
    border-style: solid;
    height: 80px;
    display: flex;
    align-items: center;
   
}
.menu li {
    display: inline-block;
    padding-left: 1em;
    border-style: solid;
}

.menu a {
    text-decoration: none;
}



main {
    display : flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    border: solid orange; 
}

section {
    margin-left: 10%;
    margin-right: 10%;
    display : flex; 
    border: solid green; 
    
}

#intro {
    margin-top: 2em;
    margin-bottom: 2em;
}

#container {

    border: solid red; 
    display: flex; 
    margin-bottom: 1em;
    
    
}

.card {
    border: solid yellow; 
    flex: 1;
}

.card img {
    padding-top: 0.5em;
}

#container .card {
    font-size: small;
}

#shorter {
    margin-top: 2em;
    margin-left: 20%;
    margin-right: 20%;
    flex-direction: column; 

}

#sign {
    margin-top: 0em;
    font-weight: lighter;
    font-size: 15px;
}
footer {
    background-color: blueviolet;
    color: lightgray;
    padding-top: 1em;
    border:solid  lightseagreen; 

    
}

footer img {
    height: 1.5em;
    border : solid greenyellow; 
    margin-left: 5%;
    margin-right: 5%;  
}

#logo {
    border: solid blue; 
    display: flex;
    justify-content: center;
}


#footer-menu div  {
    margin-left: 8em;
    margin-right: 8em;
}

#footer-menu {
    display: flex;
    border: solid red;
    
}


#footer-menu ul {
    border: solid orange;
    text-align: right;
    
}

#footer-menu h4 {
    text-align: left;
    opacity: 0.8;

}
#adresse {
    list-style-type: none;
}
